<div class="universe">

  <!-- <div class="header">
    <div class="hf-container">
        Friday Breakfast
    </div>
  </div> -->

  <div class="mobile-container">
    <div class="container">
      <div class="content">
          <div class="first-line">Join us for breakfast and bible each Friday!</div>
          
          <div class="this-week">
            <div class="title">This Week</div>
            <div class="time">Sep 6 - 6:30am</div>
            <div class="precol">Location</div> Chick Fil A <br>1909 Preston Rd, Plano, TX 75093
            <div class="scripture">Scripture TBD <br>
              Jordan will be picking something soon for this week!
            </div>
          </div>
  
      </div>
        <router-outlet></router-outlet>
    </div>
  
    
    <div class="container">
      <div class="content">
        <img class="map-image" src="../assets/8-30.PNG" alt="Picture of map">
      </div>
    </div>
  
    <div class="footer">
      <div class="hf-container">
          Questions? Text Branson <br>713-416-8950
      </div>
    </div>
  
  </div>

</div>


