<div class="universe">

  <div class="header">
    <div class="hf-container">
        Friday Breakfast
    </div>
  </div>

  <div class="container">
    <div class="content">
        Join us for an early morning breakfast with a focus on
        <ul>
          <li>Encouragement</li>
          <li>Prayer</li>
          <li>& Scripture</li>
        </ul>
        as we discuss a piece of scripture together each Friday!


        <div class="this-week">
          This week: 6:30am
          <br><br>Location: Chick Fil A <br>8875 Preston Rd, Frisco, TX 75034
          <br><br>Scripture: Romans 8:1 <br>
          There is therefore now no condemnation for those who are in Christ Jesus.
        </div>
    </div>
      <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <div class="hf-container">
        Footer
    </div>
  </div>

</div>


