<div class="universe">

  <div class="header">
    <div class="hf-container">
        Friday Breakfast
    </div>
  </div>

  <div class="container">
    <div class="content">
        Join us for breakfast and bible each Friday!

        <div class="this-week">
          <div class="title">This week</div>
          <div class="time">6:30am</div>
          <div class="precol">Location</div> Chick Fil A <br>1909 Preston Rd, Plano, TX 75093
          <div class="precol">Scripture:</div> Luke 11:1-13 <br>
            <div class="scripture">Now Jesus was praying in a certain place, and when he finished, one of his disciples said to him, “Lord, teach us to pray...” 
          </div>
        </div>
    </div>
      <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <div class="hf-container">
        Questions? Text Branson <br>713-416-8950
    </div>
  </div>

</div>


