.universe {
    background-color: var(--dark);
    margin: auto;
}

.mobile-container {
    max-width: 420px;
    background-color: var(--dark);
    margin: auto;

}

html {
    background-color: var(--dark);
}

.header {
    background-image: linear-gradient(to right, rgb(190, 190, 190), rgb(255, 255, 255));
    display: flex;
    margin: auto;
    text-align: center;
    font-size: 48px;
    font-family: 'Monda', sans-serif;
    color: white;
}

.container {
    max-width: 450px;
    margin: 25px auto;
}

.content {
    /* min-height: 450px; */
    text-align: center;
    font-family: 'Monda', sans-serif;
    font-size: 20px;
    color: var(--light);
    margin-top: 0px;
    padding-top: 16px;
}

.footer {
    background-color: var(--light);
    display: flex;
    margin: auto;
    font-size: 18px;
    text-align: center;
    font-family: 'Monda', sans-serif;
}

.hf-container {

    max-width: 450px;
    margin: auto;
    text-align: center;
}

li {
    list-style: none;
    color: rgb(255, 196, 0);
    font-size: 24px;
}


.this-week {
    min-height: 450px;
    font-size: 20px;
    margin: 40px auto;
    /* background-image: linear-gradient(to top left,  rgb(4, 29, 25), rgb(66, 66, 66)); */
    background-color: black;
    background-image: url('../assets/texture.jpg');
    background-size: contain;
    padding: 14px;
    border-radius: 12px;
    color: var(--dark);
    background-image: url('../assets/morning-this-week.jpg'); 
    /* color: var(--light); */
    
    width: 80%;
}

.scripture {
    font-size: 16px;
    color: #f3e56a;
}

.subscript {
    font-size: 9px;
}

.time {
    color: #682929;
}

.precol {
    margin-top: 16px;
    text-decoration: underline;
}

.title {
    text-decoration: underline;
    font-size: 28px;
}

.map-image {
    height: auto;
    width: 90%;
}